* {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
} 


@media screen and (max-width: 375px) {
  body {
    background: linear-gradient(180deg, #3A606E 0%, rgba(96, 114, 125, 0.63) 100%) no-repeat;
  }

  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-main {
    position: relative;
    background-color: white;
    border-radius: 16px 16px 13px 13px;
    width: 90%;
    height: 90%;
  }

  .container-header {
    position: absolute;
    background-color: #60727D;
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
  }

  .logoName {
    width: 100%;
    height: 70px;
    text-align: center;
  }
}
